.btn {
  background-color: #face14;
  color: black;
  border-radius: 4px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.mb-2 {
  margin-bottom: 2rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
#root {
  display: flex;
  flex-direction: column;
}
a {
  color: black !important;
  text-decoration: none;
}
a:hover {
  color: #edefee !important;
}
a:active {
  color: #275d2e !important;
}
Nav ul,
Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
Nav ul {
  align-items: center;
}
Footer ul {
  list-style-type: none;
}
.hero {
  background-color: #275d2e;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  color: white;
  padding-left: 10rem;
  padding-right: 10rem;
  align-items: center;
  justify-content: space-around;
}
.hero div {
  flex: 1;
}
.hero h1 {
  color: #face14;
  margin-bottom: 0;
  font-size: 3rem;
}
.hero h4 {
  margin-top: 0;
}
.hero img {
  width: 100%;
  height: auto;
  border-radius: 14px;
}
@media only screen and (max-width: 767px) {
  .hero {
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
